<footer id="footer">
  
  <% if (theme.busuanzi && theme.busuanzi.enable){ %>
	<script src="<%- url_for('lib/busuanzi.pure.js') %>"></script>
	<%# "<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>" %>
  <% } %>
  <% if (theme.busuanzi && theme.busuanzi.enable && theme.busuanzi.site_visit){ %>
  <%# "不蒜子统计" %>
  
    <span id="busuanzi_container_site_pv" >
      本站总访问量 
      <span id="busuanzi_value_site_pv" style="color: rgb(27, 27, 27);font-weight: bold"></span> 次	
      <span class="post-meta-divider" >|</span>
    </span>
    <span id="busuanzi_container_site_uv">
      本站访客数 
      <span id="busuanzi_value_site_uv" style="color: rgb(34, 32, 32);font-weight: bold"></span> 人
    </span>

	
  <% } %>
</footer>
